.App {
  text-align: center;
}

body {
  background-color: #C6C2D6;
}

.nav-logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.logo-big {
  width: 256px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.live-translation-box {
  display: inline-block;
}

.text-information {
  color: rgba(0,0,0,0.5);
  font-size: 0.75em;
}

.translate-btn-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.btn-translate {
  margin-bottom: 0.5em;
}

.translationOutput {
  box-sizing: border-box;
  border: 1px solid rgb(0,0,0,0.25);
  margin: 64px;
  text-align: left;
  min-height: 64px;
  max-width: 80%;
  margin: auto;
}

.singleWord {
  display:inline-block;
  margin: 10px;
  border: 1px solid rgb(0,0,0,0.1);
}

.singleWordText {
  font-weight: bold;
  padding-left: 8px;
  border-bottom: 1px solid rgb(0,0,0,0.1);
}

.signImage {
  width: 5em;
  height: 5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  transition: transform 0.2s;
}

.signImage.upperCase {
  border-bottom: 1px solid #000;
}

.signImage:hover {
  transform: scale(1.25);
}

.navbar {
  margin-bottom: 2em;
}

.red-blob {
  margin-left: 16px;
  margin-top: 8px;
  position: relative;
  background: red;
	border-radius: 50%;
  width: 16px;
  height: 16px;
  transform: scale(1);
  animation: pulse 1s infinite;
  display: inline-block;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring.black:after {
  border-color: #000 transparent #000 transparent;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
